@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap');

svg text {
  font-family: 'Ubuntu', monospace;
}

svg.curve .curve {
  stroke: none;
  opacity: 1;
}

svg.curve .curve:nth-of-type(1) { fill: #FFCDB2; }
svg.curve .curve:nth-of-type(2) { fill: #FFB4A2; }
svg.curve .curve:nth-of-type(3) { fill: #E5989B; }

svg.curve .axe {
  stroke: #6D6875;
  stroke-width: 0.6;
}

svg.curve .legend {
  font-size: 16px;
  fill: #6D6875;
}
