@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap');
@import url('https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css');
@import url('https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css');

body {
  background: #EEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  font-family: 'Ubuntu', monospace;
}

h2 {
  margin-top: 1em;
}

svg {
  max-width: 100%;
}

svg text {
  font-family: 'Ubuntu', monospace;
}

/* PIE */

svg.pie .portion {
  transition: transform 200ms ease-in-out;
}

svg.pie .portion:hover {
  transform: scale(1.05);
}

svg.pie .portion:nth-of-type(5n+1) { fill: #FFCDB2; }
svg.pie .portion:nth-of-type(5n+2) { fill: #FFB4A2; }
svg.pie .portion:nth-of-type(5n+3) { fill: #E5989B; }
svg.pie .portion:nth-of-type(5n+4) { fill: #B5838D; }
svg.pie .portion:nth-of-type(5n+0) { fill: #6D6875; }

svg.pie .label {
  font-size: 12px;
  fill: #666666;
}
svg.pie .label-line {
  stroke: lightgrey;
}

/* HISTOGRAM */

svg.histogram .bar {
  fill: #B5838D;
}
svg.histogram .axe {
  stroke: #6D6875;
  stroke-width: 0.6;
}

svg.histogram .legend {
  font-size: 16px;
  fill: #6D6875;
}
svg.histogram .percent {
  fill: white;
}
svg.histogram .label {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  fill: white;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 0.1em;
}
svg.histogram .label-box {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  fill: #6D6875;
}
svg.histogram g:hover .label,
svg.histogram g:hover .label-box  {
  opacity: 1;
}

/* curve */

svg.curve .curve {
  stroke: none;
}

svg.curve .curve:nth-of-type(1) { fill: #FFCDB2; }
svg.curve .curve:nth-of-type(2) { fill: #FFB4A2; }
svg.curve .curve:nth-of-type(3) { fill: #E5989B; }

svg.curve .axe {
  stroke: #6D6875;
  stroke-width: 0.6;
}

svg.curve .legend {
  font-size: 16px;
  fill: #6D6875;
}

@media print {
  @page {
    size: auto;   /* auto is the initial value */
    margin: 1em;  /* this affects the margin in the printer settings */
  }

  body {
    background: transparent;
    display: block;
    padding: 0;
  }

  svg.histogram .label,
  svg.histogram .label-box {
    opacity: 1;
  }
}
