svg text {
  font-family: monospace;
}
svg.time .bar {
  fill: #B5838D;
}
svg.time .axe {
  stroke: #6D6875;
  stroke-width: 0.6;
}

svg.time .legend {
  font-size: 16px;
  fill: #6D6875;
}
svg.time .percent {
  fill: white;
}
svg.time .label {
  fill: white;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 0.1em;
}
svg.time .label-box {
  fill: #6D6875;
}
