{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <h2>Camembert</h2>
        {% include 'graph/pie.svg.twig' with { data: pie } %}

        <h2>Histogramme</h2>
        {% include 'graph/histogram.svg.twig' with { data: histogram } %}

        <h2>Courbes</h2>
        {% include 'graph/curve.svg.twig' with { data: curve } %}
    </section>
{% endblock %}
