{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <h2>Camembert</h2>
        <img src="{{ path('graph_pie') }}" />

        <h2>Histogramme</h2>
        <img src="{{ path('graph_histogram') }}" />
    </section>
{% endblock %}
