{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        <h2>Camembert</h2>
        {% include 'graph/pie.svg.twig' with { data: pie } %}

        <h2>Histogramme</h2>
        {% include 'graph/time.svg.twig' with { data: time } %}
    </section>
{% endblock %}
